body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:cadetblue;
    font-family: sans-serif;
}

.logoLinguagens{
    width: 45px;
    margin-right: -130px;
}

.logoLinguagens2{
    width: 60px;
    margin-right: -100px;
}

.apresentação{
    display: flex;
    gap: 100px;
    margin-top: 100px;
    color: aliceblue;
}
.textHeaderDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.backgroundDiv {
    border-radius: 20px;
    margin-top: 20px;
    width: 300px; /* Define a largura da imagem */
    height: 360px;
    background-image: url('assets/3D_Animation_Style_A_white_blond_boy_a_little_fat_a_programmer_2\ \(1\).jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Para cobrir todo o elemento */
    background-position: center; /* Para centralizar a imagem */
    z-index: -1; /* Coloca a imagem atrás de outros elementos */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.wrapper{
    margin-top: 13%;
    margin-left: 100px;
    transform: translate(-50%, -50%);
  }
  
  a{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
    color: aliceblue;
    border: 2px solid aliceblue;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:rgb(34, 57, 58);
    transition: all .35s;
  }
  
  a:hover{
    color: #fff;
  }
  
  a:hover:after{
    width: 100%;
  }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: cadetblue;
    height: 650px;
    width: 70%;
}

#seta{
    width: 40px;
    margin-top: 60px; 
}

button {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    letter-spacing: 2px;
    text-align: center;
    transition: all .35s;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 10px;
    top: 20px;
}


.line {
    width: 70%; 
    height: 1px; 
    background-color: aliceblue; 
    border: none; 
    margin-top: 60px;
}


.skills{
    color: aliceblue;
    width: 80%;
    margin-top: 30px;
}

.frontSkills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 170px;  
    margin-right: 40px;
}

.backSkills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
    margin-top: 50px;
}

.skillStyle{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 23px;
    padding: 10px;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    background-color: rgb(20, 126, 126);
    width: 100%;
    gap: 30px;
    margin-top: 30px;
}
.projeto1 {
    display: flex;
    gap: 200px;
}

.projeto2 {
    display: flex;
    gap: 200px;
} 

.projectDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 126, 126) ;
    border-radius: 10px;
    padding: 40px;
    width: 35%;
    margin-left: 15%;
    color: aliceblue;
}

.input-group {
    margin-bottom: 20px;
    width: 80%;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px; /* Defina a altura desejada para o input de mensagem */
}

#enviarButton {
    margin-left: 80%;
    margin-top: 20px;
    margin-bottom: -20px;
}
.contactText {
    width: 40%;
    color: aliceblue;
    font-size: x-large;
    margin-top: -80px;
}