html{
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:cadetblue;
    font-family: sans-serif;
}

span {
    font-weight: bold;
}

label{
    font-size: small;
}
p{
    font-size: large;
    width: 65%;
    text-align: justify;
}

h1 {
    font-weight: bold;
    font-size: 30px
}

.logoLinguagens{
    width: 45px;
}

.apresentação{
    display: flex;
    align-items: flex-start;
    color: aliceblue;
    width: 60%;
}
.textHeaderDiv{
    display: flex;
    flex-direction: column;
    gap: 65px;
    font-size: xx-large;
}
.backgroundDiv {
    border-radius: 20px;
    width: 400px; /* Define a largura da imagem */
    height: 400px;
    background-image: url('assets/avatar.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Para cobrir todo o elemento */
    background-position: center; /* Para centralizar a imagem */
    z-index: -1; /* Coloca a imagem atrás de outros elementos */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    height: 100%;
}

.wrapper{
    margin-top: 10%;
    transform: translate(-50%, -50%);
    margin-left: 34%;
  }

.a{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
    color: aliceblue;
    border: 2px solid aliceblue;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  .a span{
    position: relative;
    z-index: 2;
  }
  
  .a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:rgb(34, 57, 58);
    transition: all .35s;
  }
  
  .a:hover{
    color: #fff;
  }
  
  .a:hover:after{
    width: 100%;
  }

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: cadetblue;
    height: 650px;
    width: 80%;
}

#seta{
    width: 16px;
    animation: moveUpDown 2s infinite alternate ease-in-out;
}

#setaCarousel {
    width: 25px;
    margin-top: 4px;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

button {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    top: 20px;
    border: none;
    background-color: transparent;
}


.line {
    width: 75%; 
    height: 1px; 
    background-color: aliceblue; 
    border: none; 
    margin-top: 30px;
}


.skills{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    width: 60%;
    gap: 30px;
    margin-top: 30px;
}

.frontSkills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.skillStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #fff;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    gap: 8px;
    font-family: sans-serif;
    font-size: medium;

}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(20, 126, 126);
    width: 100%;
    gap: 30px;
    margin-top: 30px;
    height: 80vh;
    padding: 35px;
}

.projectDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

#imagem {
    width: 60%;
    border-radius: 15px;
}

.form-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 126, 126) ;
    border-radius: 10px;
    padding: 32px;
    width: 30%;
    margin-left: 10%;
    color: aliceblue;
}

.input-group {
    margin-bottom: 20px;
    width: 80%;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px; /* Defina a altura desejada para o input de mensagem */
}

#pContact {
    width: 80%;
    margin-top: 30px;
}

#enviarButton {
    margin-left: 80%;
    margin-top: 20px;
    margin-bottom: -20px;
}
.contactText {
    width: 37%;
    color: aliceblue;
    font-size: large;
    margin-top: -80px;
    text-align: justify;
}